@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

* {
    font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#input-section {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
}

input {
    width: 420px;
    height: 50px;
    font-size: 14px;
    padding-left: 10px;
    background-color: #fff;
}

input:focus {
    outline: none;
}

button {
    width: 120px;
    height: 50px;
    background-color: #fff;
    color: #757575;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    input {
        width: 300px;
    }
}